@font-face {
    font-family: 'Montserrat light';
    src: url("../fonts/Montserrat-Light.ttf") format('truetype');
    font-size: 14px;
}

@font-face {
    font-family: 'Montserrat regular';
    src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
    font-size: 16px;
}

@font-face {
    font-family: 'Montserrat bold';
    src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
}


@media screen and (max-width: 1200px) {
    html {
        display: none;
    }
}

body {
    font-family: "Montserrat regular", sans-serif;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-c {
    justify-content: center;
}

.flex-ai-c {
    align-items: center;
}

.font-bold {
    font-family: "Montserrat bold", sans-serif;
}

a,
.header-menu-list a::after,
.menu-list li a::after,
.btn-action,
.services-tab-title,
.services-tab-title::after,
.services-tab-title p,
.our-works-menu-item,
.our-works-img-overlay,
.load-more-btn,
.news-post-title,
.news-post-item::after,
.testimonials-avatar-container::after,
.testimonials-next-xs-avatar span
{
    transition: 0.2s all ease-in-out;
}

li,
button:hover,
.news-post-item {
    cursor: pointer;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Header styles*/

.hero-banner {
    background-image: url("../resources/Sections background/section-1.jpg");
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}


header {
    background-color: rgba(94, 93, 88, 0.6);
    width: 100%;
}

.header-container {
    height: 120px;
}

.logo-container {
    position: relative;
    margin-top: 26px;
    margin-bottom: 27px;
    padding-left: 13px;
    z-index: 1;
}

.logo-poligon {
    color: white;
    font-family: "Montserrat bold", sans-serif;
    font-size: 40px;
    line-height: 31px;
}

.logo-poligon::before {
    position: absolute;
    content: '';
    bottom: -17px;
    left: -11px;
    width: 79px;
    height: 79px;
    clip-path: polygon(50% 6%, 86% 28%, 86% 69%, 50% 90%, 14% 69%, 14% 28%);
    z-index: -1;
    background-color: #18CFAB;
}

.logo-text {
    padding-left: 19px;
    color: rgba(24, 207, 171, 1);
    font-size: 32px;
    line-height: 48px;
}

.logo-text-white {
    color: white;
    font-family: "Montserrat regular", sans-serif;
}

.header-menu-list li {
    font-family: "Montserrat bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 25px;
}

.header-menu-list a {
    position: relative;
    justify-items: center;
}

.header-menu-list a:hover {
    color: #18CFAB;
}

.header-menu-list a::after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    border-bottom: 2px solid #18CFAB;
    width: 0;
}

.header-menu-list a:hover::after {
    width: 100%;
}

.header-menu-search-icon {
    margin-top: 3px;
}

.hero-text-container {
    text-align: center;
    margin: 260px 0 132px 0;
}

.hero-title {
    font-size: 35px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
}

.hero-title-turquoise {
    color: rgba(24, 207, 171, 1);
}

.hero-slogan {
    font-size: 78px;
    text-transform: uppercase;
    color: white;
    line-height: 55px;
    margin-bottom: 30px;
}

.hero-subtitle {
    color: #D4D4D4;
    font-size: 34px;

}

.hero-buttons-container {
    padding-bottom: 242px;
}

.btn-action {
    position: relative;
    padding: 15px 0;
    border-radius: 5px;
    width: 166px;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    top:0;
    text-align: center;
}

.btn-action:hover {
    top: -7px;
}

.btn-effect {
    position: relative;
    z-index: 1;
    width: fit-content;
}

.btn-effect::after {
    content: '';
    position: absolute;
    padding: 7px 83px;
    border-radius: 5px;
    background-color: #fff;
    z-index: -1 ;
    top: -5px;
    left: 0;
}

.btn-turquoise {
    background-color: rgba(24, 207, 171, 1);
}

.btn-blue {
    background-color: rgba(0, 203, 246, 1)
}

.btn-margin {
    margin-right: 28px;
}


/*Main styles*/


/*Options section*/

.options-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 359px;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-top: 9px;
    font-family: "Montserrat bold", sans-serif;
    font-size: 20px;
    line-height: 24px;
}

.option-list-item:nth-child(odd) {
    background-color: rgba(28, 42, 51, 1);
    color: #18CFAB;
    text-align: center;
    text-transform: uppercase;
}

.option-list-item:nth-child(even) {
    background-color: rgba(24, 207, 171, 1);
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.option-list-item-theme img {
    width: 58px;
    height: 97px;
    margin-bottom: 45px;
    margin-top: 85px;
}

.option-list-item-resources img {
    width: 93px;
    height: 75px;
    margin-bottom: 54px;
    margin-top: 98px;
}

.option-list-item-support img {
    width: 60px;
    height: 96px;
    margin-bottom: 44px;
    margin-top: 87px;
}

.option-list-item-responsive img {
    width: 99px;
    height: 76px;
    margin-bottom: 54px;
    margin-top: 97px;
}

/*Services section*/

.services-container {
    margin-top: 91px;
    margin-bottom: 90px;
}

.services-tabs-container {
    margin-top: 103px;
    padding-left: 8px;
}

.section-title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    position: relative;
    color: rgba(78, 78, 78, 1);
}

.section-title::before {
    content: '';
    position: absolute;
    border-top: 1px solid rgba(24, 207, 171, 1);
    width: 76px;
    top: 66px;
    left: 536px;
}

.section-title::after {
    content: '';
    position: absolute;
    border-top: 1px solid rgba(24, 207, 171, 1);
    width: 76px;
    top: 70px;
    left: 548px;
}

.services-tab-title{
    display: inline-block;
    width: 191px;
    padding: 25px 0 25px 0;
    text-align: center;
    color: rgba(113, 113, 113, 1);
    outline: 0 transparent;
    position: relative;
}

.services-tab-title::after {
    content: '';
    position: absolute;
    transform: rotate(200grad);
    height: 10px;
    width: 25px;
    bottom: -9px;
    left: 82px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: transparent;
}

.services-tab-title p {
    padding-right: 25px;
}

.services-tab-title:hover {
    outline: 1.5px solid rgba(24, 207, 171, 1);
}

.services-tab-title-active {
    background-color: rgba(24, 207, 171, 1);
    position: relative;
    color: white;
    text-align: center;
    outline: 1.5px solid rgba(24, 207, 171, 1);

}

.services-tab-title-active p {
    padding-right: 0;
}

.services-tab-title-active.services-tab-title::after {
    background-color: rgba(24, 207, 171, 1)
}

.services-tab-list-content {
    margin-top: 26px;
}

.services-tab-content-item {
    display: none;

}

.services-tab-content-item-active {
    display: block;
}

.services-tab-content-item-active img {
    display: inline-block;
    object-fit: contain;
    float: left;
    margin-right: 13px;
}

.services-tab-content-item-active p {
    display: inline;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: rgba(119, 119, 119, 1);
}


/*Purchase section*/


.section-purchase-background {
    background-image: url("../resources/Sections background/section-2.png");
    filter: drop-shadow(2px 2px 5px rgba(113, 113, 113, 1));
}

.call-to-purchase-container {
    padding-top: 122px;
    padding-bottom: 128px;
    text-align: center;
}

.call-to-purchase-title {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    margin-bottom: 12px;
}

.call-to-purchase-text {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 67px;
}

.call-to-purchase-btn-container .btn-effect {
    margin: 0 auto;
}


/*Our amazing works section*/
.section-our-works-background {
    background-color: #E9EDEF;
}

.our-works-container {
    padding-top: 97px;
    padding-bottom: 99px;
}

.our-works_menu-list {
    margin: 99px auto 73px auto;
  /*  text-align: center;*/
}

.our-works-menu-item {
    color: rgba(113, 113, 113, 1);
    font-size: 14px;
    line-height: 42px;
    outline: 1px solid rgba(218, 218, 218, 1);
    padding: 6px 15px 6px 15px;
}

.our-works-menu-item:first-child {
    padding: 6px 27px 6px 29px;
}

.our-works-menu-item:hover {
    outline: 2px solid #18CFAB;
}

.our-works-menu-item-active {
    outline: 2px solid #18CFAB;
}

.our-works-img-list {
    margin-bottom: 70px;
}

.our-works-img-list {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.our-works-img-list::after {
    content: "";
    flex-basis: 350px;
}

.our-works-img-item {
    flex-basis: 284px;
    position: relative;
}

.our-works-img-item > img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);;
}

.our-works-img-overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-color: #E9EDEF;
}

.our-works-img-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 6px solid #18CFAB;
    width: 100%;
    z-index: 2;
}

.our-works-img-item:hover .our-works-img-overlay {
    bottom: 0;
    height: 100%;
    z-index: 1;
}

.img-overlay-link-container {
    margin: 40px auto 24px auto;
}

.img-overlay-link-container:first-child {
    padding-left: 97px;
}


.img-overlay-link-container a {
    text-align: center;
}

.our-works-overlay-title {
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}

.our-works-overlay-section-name {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #8A8A8A;

}

.load-more-btn {
    position: relative;
    width: 166px;
    background-color: #18CFAB;
    border-radius: 5px;
    color: white;
    font-family: "Montserrat bold", sans-serif;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0 8px 33px;
    margin: 0 auto;
}

.load-more-btn::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 21px;
    background-image: url(../resources/icon-btn-plus.png);
    width: 18px;
    height: 19px;
    background-size: cover;
}

.load-more-btn:hover {
    transform: scale(0.9);
}

.loader {
    display:none;
    position: relative;
    background: #E9EDEF;
    padding: 10px;
    margin: 0 auto;
}

.loader span {
    width: 10px;
    height: 10px;
    background: #9cd3c8;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.loader span:nth-child(2) {
    background: #62c9b0;
}

.loader span:nth-child(3) {
    background: #34d0ab;
}

.loader span:nth-child(4) {
    background: #18CFAB;
}

.loader span:not(:last-child) {
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

.loader span:last-child {
    animation: jump 1.5s ease-in-out infinite;
}

@keyframes jump {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(10px, -10px);
    }
    20% {
        transform: translate(20px, 10px);
    }
    30% {
        transform: translate(30px, -50px);
    }
    70% {
        transform: translate(-150px, -50px);
    }
    80% {
        transform: translate(-140px, 10px);
    }
    90% {
        transform: translate(-130px, -10px);
    }
    100% {
        transform: translate(-120px, 0);
    }
}


/*Breaking news style*/

.news-container {
    margin: 84px auto 130px auto;
}

.news-posts-container {
    display: grid;
    grid-template-columns: repeat(4, 265px);
    grid-template-rows: repeat(2, 281px);
    grid-column-gap: 33px;
    grid-row-gap: 45px;
    margin-top: 100px;
}

.news-post-item {
    position: relative;
}

.news-post-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 64px;
    width: 66px;
    background-color: #203E38;
}

.news-post-item:hover.news-post-item::after {
    background-color: #18CFAB;
}

.news-post-item-day {
    position: absolute;
    top: 9px;
    right: 25px;
    z-index: 1;
    font-size: 16px;
    line-height: 25px;
    color: white;
}

.news-post-item-month {
    position: absolute;
    top: 34px;
    right: 17px;
    z-index: 1;
    font-size: 16px;
    line-height: 25px;
    color: white;
}

.news-post-item img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.news-post-item:hover img {
    outline: 1px solid #000000;
}

.news-post-title {
    font-family: "Montserrat bold", sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: rgba(113, 113, 113, 1);
    padding-left: 17px;
}

.news-post-item:hover .news-post-title {
    color: #18CFAB;
    padding-left: 22px;
}


.news-post-info {
    position: relative;
}

.news-post-info::after {
    content: '|';
    position: absolute;
    top: -5px;
    left: 102px;
    color: rgba(119, 119, 119, 1);
    font-size: 14px;
    line-height: 39px;
}

.news-post-info p {
    display: inline-block;
}

.news-post-info p:first-child {
    padding-right: 10px;
    padding-left: 20px;
    color: rgba(119, 119, 119, 1);
    font-size: 14px;
    line-height: 30px;

}

.news-post-info p:last-child {
    padding-left: 18px;
    color: rgba(119, 119, 119, 1);
    font-size: 14px;
    line-height: 30px;
}


/*Testimonials*/

.section-testimonials {
    background-image: url('../resources/Sections background/section-3.jpg');
    padding-top: 97px;
    padding-bottom: 86px;
}

.section-testimonials .section-title {
    color: white;
}
.testimonials-card-container {
    margin-top: 99px;
    padding-top: 37px;
}

.card-text-paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
    position: relative;
    margin-top: 24px;
    margin-bottom: 23px;
}

.card-text-paragraph::before {
    content: '';
    position: absolute;
    top: -59px;
    left: 560px;
    background-image: url('../resources/icon-quotes.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 44px;
    height: 30px;

}

.card-text-name {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.card-text-profession {
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    color: #BBBBBB;
    margin-top: 2px;
}

.testimonials-avatar-container {
    position: relative;
    margin: 41px auto 12px auto;

}

.testimonials-avatar-container::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 165px;
    height: 165px;
    left: -11px;
    top: -11px;
    border: 12px solid rgba(31, 218, 181, 0.2);
}

#customers-testimonials .item {
    text-align: center;
    width: 100%;
    display:none;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    display: flex;
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    max-width: 160px;
}

.testimonials-next-container {
    margin: 0 auto;
    width: 353px;
    position: relative;
    z-index: 1;
}

.testimonials-next-btn {
    width: 31px;
    height: 31px;
    outline: 1px solid rgba(187, 187, 187, 1);
    margin: 20px 0 19px 0;
    position: relative;
}

.testimonials-next-btn::after {
    content: '';
    position: absolute;
    background-image: url('../resources/icon-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 10px;
    height: 15px;
    left: 10px;
    top: 8px;
    fill: #BBBBBB;
}

.btn-right::after {
    transform: rotate(200grad);
}

.testimonials-next-btn:hover,
.testimonials-next-btn.active {
    background-color: #18CFAB;
    outline: revert;
}

.testimonials-next-btn:hover::after {
    fill: white;
}

.testimonials-next-xs-avatar span {
    top: 0;
}

.testimonials-next-xs-avatar span:hover,
.testimonials-next-xs-avatar span.active {
    top: -10px;
}

.testimonials-next-xs-avatar span {
    position: relative;
}

.testimonials-next-xs-avatar span::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 69px;
    left: -5px;
    top: -49px;
    border: 6px solid rgba(31, 218, 181, 0.2);
}

.owl-nav {
    position: relative;
    top:64px;
    left: 338px;
    display: flex;
    justify-content: space-between;
    width: 483px;
    z-index:-1
}



/*Gallery of best images section*/

.best-images-container {
    margin: 105px auto 67px auto;
}

.best-images-grid {
    display:grid;
    margin: 72px auto 52px auto;
}

/*.images-grid-item {
    margin-right:20px;
    margin-bottom: 20px;
    width: 378px;
}

.images-grid-item--width2 {
    width: 364px;
}*/

/*Footer */
.footer-container {
    height: 121px;
    width: 100%;
    background-color: #22353F;
}

.copyright-container p {
    color: rgba(174, 174, 174, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-top: 48px;
}

.copyright-container span {
    padding-right: 5px;
    color: #18CFAB;
    position: relative;
}

.copyright-container span::after  {
    content: '|';
    position: absolute;
    top: -5px;
    right: -2px;
    color: rgba(174, 174, 174, 1);
}

/**/